
/*gradient background code from https://codepen.io/P1N2O/pen/pyBNzX*/
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}


nav {
	font-size: 1.5rem;
}
.card-img-top{
	width:100%;
	height:auto;
  }

.card-bg{
	background-color: #414141;
	border-radius: 10%;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
	padding-top: 1%;
	padding-bottom: 1%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

